body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    
}
.first{
    background-image: url('images/donation6.jpg');
    background-repeat: no-repeat;
    
    background-size: cover;
    height: 650px;
    position: relative;
}
.first_pra{
    color: white;
    top: 50%;
    position: absolute;
    text-align: center;
    transform: translateY(-50%);
    width: 100%;
}
.first_pra h1{
    font-size: 50px;
}
.first_pra p{
    
    font-size: 23px;
    font-weight: bold;
    width: 1000px;
    margin-left: 450px;
    
}
.btn{
    color: white;
    background-color: red;
    padding:10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    background-image: linear-gradient(to left,red,rgb(246, 7, 51));


}
.donate_kotha{
    margin-top: 40px;
    text-align: center;
   
}
.donate_kotha h1{
    font-size: 57px;
}
.donate_kotha p{
    font-size: 20px;
    
    width: 1000px;
    margin-left: 450px;
}

.donte_amount{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-left: 500px;
    
}
.amount{
    border: 5px solid black;
    margin-left: 20px;
    padding: 50px;
    width: 50px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 2px gray;
    text-align: center;
}

.fifty{
    background-color: lightpink;
}
.input_area{
    margin-top: 50px;
    text-align: center;
}
.amount{
    font-size: 20px;
}

.text{
    padding: 15px;
    font-size: 30px;
    width: 100%;
    border-radius: 15px;
    text-align: center;
    border-top: none;
    border-right: none;
    border-left: none;
    
}

.donate_catagaory{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    margin-left: 200px;
}
.div1{
    background-image: url(icons/food.png);
    background-repeat: no-repeat;
    border: 1px solid black;
    width: 350px;
    height: 200px;
    
    padding: 25px;
    background-color: lightskyblue;
    
}
.div2{
   
    background-image: url(icons/shelter.png);
    background-repeat: no-repeat;
    width: 350px;
    height: 200px;
    
    padding: 25px;
    border: 1px solid black;
    margin-left: 130px;
    background-color: lightpink;
}
.div3{
    
    background-image: url(icons/Frame-1.png);
    background-repeat: no-repeat;
    width: 350px;
    height: 200px;
    
    padding: 25px;
    border: 1px solid black;
    margin-left: 130px;
    background-color: lightgray;
}

.donation_plan{
    margin-top: 70px;
}
.depend{
    margin-top: 200px;
    display: flex;
}
.depend_image{
    margin-top: 1px;
    margin-left: 160px;
    background-image: url(images/donation2.jpg);
    background-repeat: no-repeat;
    width: 800px;
    height: 600px;
    border-radius: 25px;
}
.d_area{
    width: 45%;
    margin-top: 50px;
    

}
.d_area h1{
    font-size: 50px;
    text-align: left;
    margin-left: 150px;
}
.d_area p{
    font-size: 20px;
    margin-left: 150px;
    text-align: justify;
}
.sec{
    margin-top: 50px;
}
.depend_r{
    margin-top: 200px;
    display: flex;
}
.image{
    margin-left: 150px;
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    width: 250%;
    height: 600px;
    border-radius: 25px;

}

.write{
    margin-left: 200px;
    
}

.write h1{
    font-size: 50px;
}
.write p{
    font-size: 20px;
    margin-right: 50px;
    text-align: justify;
}
.update{
    margin-top: 100px;
}
.update h1{
    text-align: center;
    font-size: 50px;
}
.update p{
    font-size: 20px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}
.last{
    margin-top: 100px;
    position: relative;
    height: 200px;
    width: 1300px;
    background-color: bisque;
    margin-left: 300px;
    border-radius: 40px;

    
}
.one{
    /*  */
    color: red;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    
}


.inpu{
    padding: 18px;
    border-radius: 25px;
    width: 500px;
    font-size: 20px;
    background-color: aqua;
    
}
.hi{
    border: 2px solid black;
    padding: 18px;
    font-size: 20px;
    background-color: red;
    color: white;
    border-radius: 25px;
}
pi{
    margin-left: 150px;
}
footer{
    margin-top: 50px;
    background-color: black;
    height: 100px;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 20px;
    font-family: 'Splash', cursive;
}